*,
*::before,
*::after {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
}

.container {
    height: 30vh;
    width: 40vw;
    padding: 50px;
    display: block;
    text-align: center;
    margin: 25vh auto;
    box-shadow: 10px 20px 30px black;
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 100%);
    border-radius: 10px;
}
.line {
    margin-top: 20px;
    border-top: 2px solid black;
}
h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.5rem;
    background-color:#fff;
    padding: 20px 0px;
    width: 80%;
    margin-bottom: 20px;
    margin: 1rem auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px black;
}

button {
    background-color: #fda085;
    padding: 10px 20px;
    font-size: 1.5rem;
    margin-top: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .5s;
    box-shadow: 5px 5px 10px black;
}

button:hover {
    background-color: #96e6a1 ;
    
    box-shadow: 8px 8px 16px black;
}

button:active {
    box-shadow: 2px 2px 4px black;
}